<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ request.user }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <center>
        <h1>Welcome {{ request.user}}</h1>
    </center>
    <div class="row row-cols-lg-3 bg-info">
          <div class="flex justify_contents-around">
              <h4>{{ request.user.email }}</h4>
              <h4>Username: {{ request.user.username }}</h4>
              {% for profile in profile_info %}
                <p> Aim: {{ profile.aim }}</p>
              <h4>Experience Level: {{ profile.exp_level }}/10</h4>
              {% endfor %}
          </div>
          <div class="box-flex bg-warning">
              <form class="container justify-content-center" method="POST">{% csrf_token %}
                <input name="topic" type="text" class="form-control m-2" placeholder="Topic" aria-label="Topic" aria-describedby="basic-addon" required>
                <button class="btn btn-primary m-1" name="taketest" type="submit">Take Test</button>
            </form>
          </div>
        <div class="bg-primary">
        <h4>Test History</h4>
            {% for test in test_history %}
                <p>Topic: {{ test.topic }}</p>
                <p>Score: {{ test.score }}</p>
                <p>Time: {{ test.time }}</p>
            {% endfor %}

        </div>
    </div>


      <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>